// PROJECT VARIABLES
// __________________________________________________________


// BREAKPOINTS
// __________________________________________________________

$sm-bp: 575px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;


// COLORS
// __________________________________________________________

$white-pale:#EFF1EB;
$white-dark:#EDCFAA;
$grey-dark:#3D3D33;
$black-dark:#1D1D1D;
$green:#5CBA47;
$green-dark:#55AB41;

